<!DOCTYPE html>
<html>
<head>
<link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>

<h1>Add Car</h1>

<form method="POST">

<input name="name" placeholder="Name"><br>

<input name="brand" placeholder="Brand"><br>

<input name="year" placeholder="Year"><br>

<input name="horsepower" placeholder="Horsepower"><br>

<input name="engine" placeholder="Engine"><br>

<input name="topspeed" placeholder="Top Speed"><br>

<input name="image" placeholder="Image filename"><br>

<textarea name="description"></textarea><br>

<button>Add</button>

</form>

</body>
</html>